<h1>Add Your Favorite Show Tune!</h1>
<form action='/shows/<%= @id%>/songs' method='POST'> 
    <p><input type="text" placeholder="Title" name="title" /></p>
    <p><input type="text" placeholder="YouTube link" name="embed_url" /></p>
    <button>Sing it baby!</button>
</form>


