<h1>Add Your Favorite Show!</h1>
<form action='/shows' method='POST'> 
    <p><input type="text" placeholder="Title" name="title" /></p>
    <p><input type="text" placeholder="Year" name="year" /></p>
    <p><input type="text" placeholder="Composer" name="composer" /></p>
    <p><input type="text" placeholder="Image url" name="img_url" /></p>
    <button>Sock it to me!</button>
</form>